{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de moradores{% endblock %}

{% block sistema %}

{% block menu %}
{% include 'home/menu.html' %}
{% endblock %}
<div class="page">
    <!-- navbar-->
    {% block header %}
    {% include 'home/header.html' %}
    {% endblock %}

    <div class="col-lg-12" style="margin-top:20px;">
        <div class="card">
            <div class="card-body">
                <div class="listagemGeral">
                    <hr>
                    <h3 style="margin-left:37%;">Lista de imoveis</h3>
                    <hr>
                    <!--                    <input class="u-full-width" type="text" placeholder="Localizar..." name="search_box">-->

                    <!--                <a href="{% url 'import' %}">-->
                    <!--                    <i class="material-icons" style="font-size:30px">file_upload</i></a>-->
                    {% if posts %}
                    <table class="table table-responsive-lg table-striped">
                        <thead>
                        <tr>
                            <th scope="col">codigo</th>
                            <th scope="col">status</th>
                            <th scope="col">endereço</th>
                            <th scope="col">numero</th>
                            <th scope="col">complemento</th>
                            <th scope="col">bairro</th>
                            <th scope="col">cidade</th>
                            <th scope="col">estado</th>
                            <th scope="col">ações</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for Imoveis in posts %}
                        <tr>
                            <td><a>{{Imoveis.id}}</a></td>
                            <td><a>{{Imoveis.status}}</a></td>
                            <td><a>{{Imoveis.endereco}}</a></td>
                            <td><a>{{Imoveis.numero}}</a></td>
                            <td><a>{{Imoveis.complemento}}</a></td>
                            <td><a>{{Imoveis.bairro}}</a></td>
                            <td><a>{{Imoveis.cidade}}</a></td>
                            <td><a>{{Imoveis.estado}}</a></td>
                            <td>
                                <a href="{% url 'realEstate_update' Imoveis.id%}"
                                   class="material-icons" style="font-size:23px"
                                >edit
                                </a>
                                <!--                                <div class="container">-->
                                <a href="{% url 'realEstate_delete' Imoveis.id%}"
                                   data-toggle="modal" data-target="#model{{Imoveis.id}}"
                                   class="material-icons" style="font-size:23px;color:red"
                                   data-toggle="tooltip" title="Deletar">
                                    delete_forever
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="model{{Imoveis.id}}" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
<!--                                            <div class="modal-header">-->
<!--                                                <button type="button" class="close" data-dismiss="modal">&times;-->
<!--                                                </button>-->

<!--                                            </div>-->
                                            <div class="modal-body">
                                                {% block deleteImoveis %}
                                                {% include 'imoveis/realEstate_delete_confirm.html'%}
                                                {% endblock %}
                                            </div>
<!--                                            <div class="modal-footer">-->
<!--                                                <button type="button" class="btn btn-default" data-dismiss="modal">-->
<!--                                                    Close-->
<!--                                                </button>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </td>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <li>Desculpe, não existe nenhum imóvel cadastrado.</li>
                    {% endif %}
                    <br>
                    {% if messages %}
                    {% for m in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{m}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <hr>
                    <a href="{% url 'realEstate_add' %}" class="btn btn-primary"> Adicionar Imovel</a>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
    {% include 'home/footer.html' %}
    {% endblock %}
</div>
{% endblock %}


